
<br><br><h2>&nbsp;These are Houses available for sale</h2><br><br>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="assets/images/image_1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col-sm"><div class="card" style="width: 22rem;">
        <img class="card-img-top" src="assets/images/image_2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>
      <div class="col-sm"><div class="card" style="width: 22rem;">
        <img class="card-img-top" src="assets/images/image_3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      </div>
      
    </div>
<br><hr>
    <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 22rem;">
              <img class="card-img-top" src="assets/images/image_1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
        <div class="col-sm"><div class="card" style="width: 22rem;">
          <img class="card-img-top" src="assets/images/image_2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
        <div class="col-sm"><div class="card" style="width: 22rem;">
          <img class="card-img-top" src="assets/images/image_3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        </div>
        
      </div>
  </div>